*{
    margin: 0;
    padding: 0;
    }
    
    
    .main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;

    }
    
    .navbar{
    width:1500px;
    height: 67px;
    background:transparent;
    border: 1px solid black;
    color:orange;
    margin-top: 13px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color: black;
    padding-top: 0px;
    margin:0px;
    }

    .navbar a:hover{
        color:orange;
        transition: 0.3s;   
    }

    .navbar a.active{
        background-color:black;
        color: orange;
    }

    
    
    .icon{
    width: 341px;
    float: left;
    height: 70px;
    }
    
    
    .logo:hover{
    color:white;
    transition: 0.5s;
    }
    
    
    .logo{
    color: orange;
    font-size: 27px;
    font-family: arial;
    padding-left: 5px;
    left: 1px;
    padding-top: 0px;
    margin-top: 2px;
    text-align: center;
    }
    
    
    .menu{
    width: 400px;
    float: left;
    height: 70px;
    }
    
    
    ul{
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    
    ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
    }
    
    
    ul li a {
    text-decoration: none;
    color: white;
    font-size: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    }
    
    
    ul li a:hover{
    color: orange;
    }
    
    
    .search{
    width: 300px;
    float: left;
    margin-left: 270px;
    }
    
    
    .srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background:transparent;
    border: 1px solid orange;
    margin-top: 13px;
    color: white ;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    }
    
    
    .btn{
    width:100px;
    height: 40px;
    background: orange;
    border:2px solid orange;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
    }
    .btn:hover{
    color:#000;
    }
    
    
    .btn:focus{
    outline: none;
    }
    
    
    .srch:focus{
    outline:none;
    }
    
    
    .content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    }



    
    
    .content .par_scroll{
    padding-left: 20px;
    padding-bottom: 10px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    }
    
    
    
    
    div.par_scroll {
    background: transparent;
    width: 800px;
    height: 110px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 25px;
    }
    
    
    
    
    .content h1{
    font-family: "Times New Roman";
    font-size: 50px;
    padding-left: 20px;
    margin-top: 25%;
    letter-spacing: 2px;

    }
    


    
    .content .bu{
    width: 160px;
    height: 40px;
    background: orange;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
    
    }
    
    
    .content .bu a{
    text-decoration: none;
    color: black;
    transform: .3s ease;
    }
    
    
    .bu:hover{
    background-color: white;
    }
    
    
    .content span{
    color: orange;
    font-size: 65px;
    }
    
    
    .form{
    width: 250px;
    height: 370px;
    background:linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 400px;
    left: 1100px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
    }
    
    
    .form h2{
    width: 220px;
    font-family:sans-serif;
    text-align: center;
    color: orange;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding:8px;
    }
    
    
    .form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid orange;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
    }
    
    
    .form input:focus{
    outline: none;
    }
    
    
    ::placeholder{
    color:white;
    font-family: Arial;
    }
    .btnn{
    width: 240px;
    height: 40px;
    background: orange;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transform: 0.4s ease;
    }
    .btnn:hover{
    background: white;
    color: orange;
    }
    .btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    }
    .form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    position:static;
    }
    .bttn:hover{
    background: white;
    color: orange;
    }
    .bttn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    }
    
    
    .bttn{
    width: 240px;
    height: 40px;
    background: orange;
    cursor: pointer;
    color: white;
    transform: 0.4s ease;
    }
    
    
    .form .link a{
    text-decoration: none;
    color: orange;
    }
    .liw{
    padding: 80px;
    padding-bottom: 0px;
    text-align: center;
    background-color: transparent;
    width: 15px;
    height: 20px;
    cursor: pointer;
    color: white;
    transform: 0.4s ease;
    }
    
    
    .liw a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    }
    

    .icons a{
    text-decoration: none;
    color:white;
    }
    .icons ion-icon{
    color: white;
    font-size: 15px;
    padding-left: 8px;
    padding-top: 5px;
    transform: 0.3s ease;
    
    }
    .icons ion-icon:hover{
    color: orange;
    }
    
    
    .fa {
    padding: 20px;
    font-size: 30px;
    width: 5px;
    text-align: center;
    text-decoration: none;
    }
    .fa:hover {
    opacity: 0.7;
    }
    
    
    .fa-facebook {
    background: #064eea;
    color: white;
    }
    
    
    .fa-twitter {
    background: #55ACEE;
    color: white;
    }
    
    
    .fa-snapchat {
    background: rgb(194, 194, 14);
    color: white;
    }
    .fa-instagram{
    background: rgb(229, 40, 72);
    color: white;
    }
    
    
    .fa-linkedin{
    background: rgb(10, 0, 153);
    color: rgb(241, 241, 241);
    }
    
    
    .page2{
    height:200px;
    background-color:transparent;
    font-size:40px
    }
    
    
    .content2{
    padding: 23px;
    font-size: 25px;
    }
    
    
    .parallax {
    background-image: url("7.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size:75px;
    color: white;
    text-align: left;
    }
    
    
    .Location{
    width: 300px;
    float: left;
    margin-left: 270px;
    }
    
    
    .loc{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background:transparent;
    border: 1px solid orange;
    margin-top: 13px;
    color: white ;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    }
    
    
    .parallax2 {
    background-image: url("4.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    
    
    
    .parallax3 {
    background-image: url("6.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    
    .acc{
    font-size: 20px;
    padding-right: 30px;
    
    }
    
    
    .par2{
    font-size: 20px;
    padding-right:30px ;
    }

    .scroll{
        height:150px;
        background-color:transparent;
        font-size:40px
    }

    .page3{
        height:150px;
        background-color:transparent;
        font-size:40px
        }
    
    .in-out{
    width: 300px;
    float: left;
    margin-left: 100px;
    }
    
    
    .check{
    font-family: 'Times New Roman';
    width: 150px;
    height: 15px;
    background:white;
    border: 1px solid transparent;
    margin-top: 13px;
    color: white ;
    border-right: none;
    font-size: 16px;
    float: auto;
    padding: -10x;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    }
    

    .about{
        width: 100%;
        background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(8.jpg);
        background-position: center;
        background-size: cover;
        height: 100vh;
        
    }

    .info{
        width: 100%;
        background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(9.jpg);
        background-position: center;
        background-size: cover;
        height: 100vh;
        
    }

        .services{
        width: 100%;
        background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(10.jpg);
        background-position: center;
        background-size: cover;
        height: 100vh;
        
    }
















    
      
    * {
        box-sizing:content;
      }
      
      /* Create three unequal columns that floats next to each other */
      .column{
        float: left;
        padding: 10px;
        
       
      }
      
      /* Left and right column */
      .column.left {
        width: 25%;
       
      }
   
      
      /* Middle column */
      .column.middle {
        width: 50%;
      }
      
      /* Clear floats after the columns */
      .row::after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .column.side, .column.middle {
          width: 100%;
        }
      }
      




















      .bg-text {
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        font-size: 80px;
        border: 10px solid #f1f1f1;
        position: fixed; /* Stay fixed */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 300px;
        padding: 20px;
        text-align: center;
      }
    




    